<div class="row center-block">
  <h2>Create Block</h2>

  <%= form_for(:app, :url => {:action => 'create'},html:{ multipart: true, class: "form-horizontal"}) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f}) %>

      <div class="form-buttons dm">
        <%= submit_tag("Create Block") %>
      </div>

  <% end %>
</div>