<div class="app delete">
  <h2>Delete Post</h2>

  <%= form_for(:post, :url => {:action => 'destroy', :id => @post.permalink}) do |f| %>

      <p>Are you sure you want to permanently delete this page?</p>

      <p class="reference-name"><%= @post.title %></p>

      <div class="form-buttons">
        <%= submit_tag("Delete Post") %>
      </div>

  <% end %>
</div>